* {
   box-sizing: border-box;
}

@font-face {
   font-family: 'karlaregular';
   src: url('fonts/karla-regular-webfont.woff2') format('woff2'),
        url('fonts/karla-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}


@font-face {
   font-family: 'asapregular';
   src: url('fonts/asap-regular-webfont.woff2') format('woff2'),
        url('fonts/asap-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

body {
    font-size: 20px;
    line-height: 26px;
    font-family: karlaregular;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

header {
   padding 12% 0;
   color: #0dccc0;
   line-height: 45px;
   font-size: 28px;
}

section {
   min-height: 200px;
   padding: 6% 0;
}

nav, footer {
   padding: 5% 0;;
}

nav li {
   list-style: none;
   display: inline-block;
   text-decoration: underline;
   color: #0dccc0;

}

/*
@media screen and (min-width: 700) {
   body {
      margin-left: 50px;
      margin-right: 50px;
   }
}
*/